<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_ProductAppointment>
            <version>0.1.0</version>
        </MobWeb_ProductAppointment>
    </modules>
    <global>
        <blocks>
            <productappointment>
                <class>MobWeb_ProductAppointment_Block</class>
            </productappointment>
        </blocks>
        <helpers>
            <productappointment>
                <class>MobWeb_ProductAppointment_Helper</class>
            </productappointment>
        </helpers>
    </global>
    <frontend>
        <routers>
            <productappointment>
                <use>standard</use>
                <args>
                    <module>MobWeb_ProductAppointment</module>
                    <frontName>productappointment</frontName>
                </args>
            </productappointment>
        </routers>
        <layout>
            <updates>
                <productappointment>
                    <file>mobweb_productappointment.xml</file>
                </productappointment>                
            </updates>
        </layout>
       <translate>
           <modules>
               <productappointment>
                   <files>
                       <default>mobweb_productappointment.csv</default>
                   </files>
               </productappointment>
           </modules>
       </translate>
    </frontend>
 </config>