<?xml version="1.0"?>
<config>
    <sections>
        <productappointment module="productappointment">
            <tab>catalog</tab>
            <label>Product Appointment</label>
            <sort_order>150</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <email module="productappointment">
                    <label>Email</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <recipient>
                            <label>Recipient</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                                Enter the email address that should receive the details of the appointment request.
                            ]]></comment>
                        </recipient>
                    </fields>
                </email>
            </groups>
        </productappointment>
    </sections>
</config>
